/* paths */
/* We can't use absolute paths here, because those are dependent on Django's
STATIC_URL setting. However, django-compressor consistently places the compiled
CSS into ${STATIC_URL}/CACHE/css/ regardless of compilation mode, so we can
reliably use relative paths to get back to STATIC_URL. */
/* grid settings */
/* screen breakpoints */
/* 800px */
/* 900px */
/* 1200px */
/* 1600px */
/* colours */
/* darker to lighter */
/* misc sizing */
/* line 100, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/mixins.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  /* line 91, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/mixins.scss */
  .visuallyhidden:active, .visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* line 113, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/mixins.scss */
.visuallyvisible {
  clip: none;
  height: auto;
  width: auto;
  margin: auto;
  overflow: visible;
  position: initial; }

/* Utility variable - you should never need to modify this */
/* Ensure grid columns are set to border-boxes. This is essential */
/* Our row container */
/* Our column container */
/* Push adds left padding */
/* Pull adds right padding */
/* only used in places where padding not applied to same elements as row or row-flush
 * most of the time this class should be applied directly to the html elements */
/* line 6, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
.page-editor .content-wrapper {
  margin-bottom: 10em; }

/* line 9, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
.page-editor .breadcrumb {
  margin-top: -1.2em;
  margin-bottom: 2em; }

/* line 13, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
.page-editor .modal .breadcrumb {
  margin: 0;
  background-color: transparent; }
  /* line 17, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .page-editor .modal .breadcrumb a {
    color: #666666; }
  /* line 20, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .page-editor .modal .breadcrumb li:hover {
    background-color: #e6e6e6; }
  /* line 23, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .page-editor .modal .breadcrumb .home {
    padding-left: 0; }

/* An object is the basic wrapper around any field or group of fields in the editor interface */
/* line 30, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
.object {
  position: relative;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  /* Special full-width, one-off fields i.e a single text or textarea input */
  /* Object controls */
  /* Menu of other blocks to be added at each position */
  /* special panel for the publishing fields, requires a bit more pizzazz */
  /* removes top padding from multiples used within another panel */ }
  @media screen and (min-width: 50em) {
    /* line 30, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object {
      padding-left: 50px;
      padding-right: 50px; } }
  /* line 35, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object:first-child {
    border: 0; }
  /* line 39, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object.focused {
    border-color: #54d0d0; }
  /* line 43, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object fieldset {
    padding-top: 4em;
    padding-left: 0;
    padding-right: 0; }
  /* line 49, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object .object-help {
    display: block;
    position: relative;
    z-index: 1;
    top: 1em;
    padding-right: 1.5%;
    margin-top: 4em;
    opacity: 1;
    padding-left: 3em; }
    /* line 59, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object .object-help:before {
      display: block;
      float: left;
      content: "?";
      border: 1px solid #666666;
      color: #666666;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      height: 15px;
      width: 15px;
      line-height: 15px;
      text-align: center;
      font-size: 1.1em;
      margin-left: -2em;
      margin-top: 0.3em; }
  /* line 76, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object:hover .object-help {
    opacity: 1; }
  /* line 80, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object > h2, .object.single-field label {
    -webkit-font-smoothing: auto;
    background: #fcf2f2;
    text-transform: uppercase;
    padding: 0.9em 0 0.9em 4.1em;
    font-size: 0.95em;
    margin: 0 0 0.2em 0;
    line-height: 1.5em;
    font-weight: normal;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden; }
    /* line 96, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object > h2:before, .object.single-field label:before {
      text-shadow: none;
      font-family: wagtail;
      text-transform: none;
      content: "q";
      text-align: center;
      display: block;
      position: absolute;
      z-index: 2;
      font-size: 2em;
      top: 0px;
      line-height: 1.8em;
      left: 0px;
      width: 1.7em;
      color: white;
      padding: 0;
      margin: 0;
      cursor: pointer;
      background-color: #f37e77;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  /* line 120, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object .richtext {
    padding-top: 1em;
    /* to provide space for editor buttons */
    padding-bottom: 1em; }
    /* line 124, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object .richtext.inEditMode {
      padding-top: 5em;
      /* to provide space for editor buttons */
      padding-bottom: 2em; }
  /* line 131, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object.single-field h2, .object.single-field .object-help {
    display: none;
    /* The field label is used instead */ }
  /* line 138, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object.full h2 {
    display: none;
    /* The field label is used instead */ }
  /* line 142, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object.full .object-help {
    display: block; }
  /* line 146, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object.full fieldset {
    display: block;
    float: none; }
    /* line 150, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.full fieldset .help {
      display: none; }
  /* line 154, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object.full li {
    padding: 0; }
  /* line 158, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object.full .richtext {
    padding-top: 3em;
    /* to provide space for editor buttons */
    padding-bottom: 3em; }
    /* line 162, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.full .richtext.inEditMode {
      padding-top: 5em;
      /* to provide space for editor buttons */
      padding-bottom: 5em; }
  /* line 168, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object.full .error-message {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2em; }
    @media screen and (min-width: 50em) {
      /* line 168, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
      .object.full .error-message {
        padding-left: 50px;
        padding-right: 50px; } }
  /* line 176, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object.full .error,
  .object.full .error input,
  .object.full .error textarea,
  .object.full .error .richtext {
    background-color: #feedee; }
  /* line 181, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object.stream-field {
    padding: 0;
    /* Despite "BlockField" being generic and available for use outside StreamField,
        this is the most unique handle available to undo the width set on .field-content 
        everywhere else in wagtail. If other types of field become available for use as 
        a direct child of Streamfield, this will need updating */ }
    /* line 184, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.stream-field label {
      white-space: nowrap; }
    /* line 188, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.stream-field.required .field > label:after {
      display: none; }
    /* line 192, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.stream-field > fieldset {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: inline;
      float: left;
      width: 100%;
      padding-right: 1.5%;
      padding-left: 1.5%;
      max-width: none;
      padding-left: 0;
      padding-right: 0; }
    /* line 199, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.stream-field .fields > li > .field > label {
      display: none; }
    /* line 207, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.stream-field .block_field > .field-content {
      width: 100%;
      display: block; }
    /* line 212, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.stream-field .sequence {
      position: relative; }
      /* line 3, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/mixins.scss */
      .object.stream-field .sequence:before,
      .object.stream-field .sequence:after {
        content: " ";
        display: table; }
      /* line 7, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/mixins.scss */
      .object.stream-field .sequence:after {
        clear: both; }
    /* line 217, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.stream-field .sequence-member {
      position: relative; }
      /* line 3, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/mixins.scss */
      .object.stream-field .sequence-member:before,
      .object.stream-field .sequence-member:after {
        content: " ";
        display: table; }
      /* line 7, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/mixins.scss */
      .object.stream-field .sequence-member:after {
        clear: both; }
      /* line 221, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
      .object.stream-field .sequence-member .sequence-member-inner {
        position: relative;
        padding: 1.5em 50px; }
        /* line 3, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/mixins.scss */
        .object.stream-field .sequence-member .sequence-member-inner:before,
        .object.stream-field .sequence-member .sequence-member-inner:after {
          content: " ";
          display: table; }
        /* line 7, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/mixins.scss */
        .object.stream-field .sequence-member .sequence-member-inner:after {
          clear: both; }
        /* line 226, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
        .object.stream-field .sequence-member .sequence-member-inner > .sequence .sequence-inner {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: inline;
          float: left;
          width: 83.33333%;
          padding-right: 1.5%;
          padding-left: 1.5%;
          padding-left: 0;
          padding-right: 0; }
        /* line 234, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
        .object.stream-field .sequence-member .sequence-member-inner > .struct-block > label,
        .object.stream-field .sequence-member .sequence-member-inner > .char_field > label,
        .object.stream-field .sequence-member .sequence-member-inner .sequence > label {
          opacity: 0;
          display: block;
          font-style: italic;
          font-weight: normal;
          position: absolute;
          top: 1em;
          right: 4em;
          float: none;
          width: auto;
          padding: 0;
          color: #666666;
          line-height: 2.2em; }
          /* line 25, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/mixins.scss */
          body.ready .object.stream-field .sequence-member .sequence-member-inner > .struct-block > label,
          body.ready .object.stream-field .sequence-member .sequence-member-inner > .char_field > label,
          body.ready .object.stream-field .sequence-member .sequence-member-inner .sequence > label {
            -webkit-transition: opacity 0.2s ease;
            -moz-transition: opacity 0.2s ease;
            -o-transition: opacity 0.2s ease;
            transition: opacity 0.2s ease; }
      /* line 250, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
      .object.stream-field .sequence-member:hover {
        background-color: #f4fcfc; }
      /* line 257, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
      .object.stream-field .sequence-member:hover .sequence-member-inner > .struct-block > label,
      .object.stream-field .sequence-member:hover .sequence-member-inner > .char_field > label,
      .object.stream-field .sequence-member:hover .sequence-member-inner .sequence > label {
        opacity: 1; }
    /* line 263, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.stream-field .struct-block > ul > li {
      /* duplicates forms.scss ln.568 */
      padding-top: 0.5em;
      padding-bottom: 1.2em; }
      /* line 3, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/mixins.scss */
      .object.stream-field .struct-block > ul > li:before,
      .object.stream-field .struct-block > ul > li:after {
        content: " ";
        display: table; }
      /* line 7, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/mixins.scss */
      .object.stream-field .struct-block > ul > li:after {
        clear: both; }
    /* line 271, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.stream-field .struct-block .widget-text_input > label,
    .object.stream-field .struct-block .widget-textarea > label,
    .object.stream-field .struct-block .widget-admin_auto_height_text_input > label {
      display: none; }
    /* line 275, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.stream-field .widget-text_input input, .object.stream-field .richtext, .object.stream-field textarea {
      border: 0;
      padding: 0;
      background-color: transparent;
      max-width: 1024px; }
    /* line 283, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.stream-field .widget-admin_image_chooser label {
      display: none; }
    /* line 286, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.stream-field .widget-admin_image_chooser .field-content {
      display: block;
      float: none;
      width: 100%;
      text-align: center;
      max-width: 500px;
      margin: auto;
      border: 1px solid #e6e6e6;
      padding: 1em; }
    /* line 297, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.stream-field .widget-admin_image_chooser .chooser .chosen {
      padding: 0; }
    /* line 301, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.stream-field .widget-admin_image_chooser .chooser .unchosen:before {
      float: none;
      font-size: 4em;
      margin: 0; }
    /* line 307, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.stream-field .widget-admin_image_chooser .chooser .preview-image {
      float: none;
      margin: 0; }
  /* line 316, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object .stream-controls, .object .list-controls {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1;
    color: white;
    overflow: hidden;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
    /* line 25, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/mixins.scss */
    body.ready .object .stream-controls, body.ready .object .list-controls {
      -webkit-transition: opacity 0.2s ease;
      -moz-transition: opacity 0.2s ease;
      -o-transition: opacity 0.2s ease;
      transition: opacity 0.2s ease; }
    /* line 327, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object .stream-controls li, .object .list-controls li {
      background-color: #43b1b0;
      float: left;
      cursor: pointer;
      margin-right: 1px; }
      /* line 333, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
      .object .stream-controls li:last-child, .object .list-controls li:last-child {
        margin-right: 0; }
    /* line 338, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object .stream-controls .disabled, .object .list-controls .disabled {
      display: none; }
  /* line 344, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object .stream-menu {
    -webkit-box-shadow: inset 0 0 45px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 45px rgba(0, 0, 0, 0.3);
    position: relative;
    background-color: #333333;
    opacity: 1;
    z-index: 5; }
    /* line 25, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/mixins.scss */
    body.ready .object .stream-menu {
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    /* line 352, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object .stream-menu .toggle {
      -webkit-border-radius: 50px;
      border-radius: 50px;
      position: absolute;
      top: -0.5em;
      left: 0;
      right: 0;
      margin: 0 auto;
      cursor: pointer;
      font-size: 1.7em;
      width: 1em;
      height: 1em;
      display: block;
      z-index: 5;
      color: #333333;
      background-color: white; }
      /* line 25, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/mixins.scss */
      body.ready .object .stream-menu .toggle {
        -webkit-transition: color 0.2s ease;
        -moz-transition: color 0.2s ease;
        -o-transition: color 0.2s ease;
        transition: color 0.2s ease; }
      /* line 369, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
      .object .stream-menu .toggle span {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px; }
        /* line 91, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/mixins.scss */
        .object .stream-menu .toggle span:active, .object .stream-menu .toggle span:focus {
          clip: auto;
          height: auto;
          margin: 0;
          overflow: visible;
          position: static;
          width: auto; }
      /* line 373, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
      .object .stream-menu .toggle:before {
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        position: absolute;
        font-family: wagtail;
        content: "B";
        line-height: 1em;
        text-align: center; }
    /* line 383, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object .stream-menu .stream-menu-inner {
      max-width: 50em;
      margin: auto;
      overflow: hidden; }
    /* line 389, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object .stream-menu ul {
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      visibility: visible;
      opacity: 1;
      padding: 1em 1em 0 1em;
      overflow: hidden; }
      /* line 25, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/mixins.scss */
      body.ready .object .stream-menu ul {
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
      /* line 3, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/mixins.scss */
      .object .stream-menu ul:before,
      .object .stream-menu ul:after {
        content: " ";
        display: table; }
      /* line 7, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/mixins.scss */
      .object .stream-menu ul:after {
        clear: both; }
    /* line 399, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object .stream-menu li {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: inline;
      float: left;
      width: 25%;
      padding-right: 1.5%;
      padding-left: 1.5%;
      padding-bottom: 3%;
      padding-left: 0;
      padding-right: 0; }
      /* line 405, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
      .object .stream-menu li:nth-child(4n+1) {
        clear: left; }
    /* line 411, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object .stream-menu button {
      background-color: transparent;
      border: 0;
      color: #cccccc;
      height: auto;
      display: block;
      width: 100%;
      padding: 0 0 0.5em 0;
      outline: #43b1b0; }
      /* line 25, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/mixins.scss */
      body.ready .object .stream-menu button {
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
      /* line 422, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
      .object .stream-menu button span {
        text-transform: none;
        white-space: pre-wrap;
        width: 100%;
        display: block;
        overflow: hidden;
        padding: 0 1em;
        box-sizing: border-box; }
      /* line 432, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
      .object .stream-menu button:before {
        display: block;
        font-family: wagtail;
        font-size: 2em;
        width: 100%;
        height: 2em;
        line-height: 2em;
        text-align: center; }
      /* line 443, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
      .object .stream-menu button:hover,
      .object .stream-menu button:focus {
        background-color: #43b1b0;
        color: white; }
    /* line 450, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object .stream-menu.stream-menu-closed {
      -webkit-box-shadow: none;
      box-shadow: none; }
      /* line 453, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
      .object .stream-menu.stream-menu-closed .stream-menu-inner ul {
        -moz-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -o-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 0; }
      /* line 458, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
      .object .stream-menu.stream-menu-closed .toggle {
        color: #d9d9d9;
        background-color: white; }
        /* line 461, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
        .object .stream-menu.stream-menu-closed .toggle:before {
          -moz-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg); }
        /* line 464, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
        .object .stream-menu.stream-menu-closed .toggle:focus {
          color: #43b1b0; }
      /* line 469, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
      .object .stream-menu.stream-menu-closed:hover {
        border-top-color: #43b1b0; }
        /* line 472, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
        .object .stream-menu.stream-menu-closed:hover .toggle {
          color: #43b1b0; }
    @media screen and (min-width: 50em) {
      /* line 479, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
      .object .stream-menu li {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline;
        float: left;
        width: 16.66667%;
        padding-right: 1.5%;
        padding-left: 1.5%; }
        /* line 481, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
        .object .stream-menu li:nth-child(4n+1) {
          clear: none; }
        /* line 484, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
        .object .stream-menu li:nth-child(6n+1) {
          clear: left; } }
  /* line 490, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object .sequence-member .stream-menu {
    margin: auto auto 0em auto; }
  /* line 493, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object .sequence-member .stream-menu-closed {
    opacity: 0;
    visibility: hidden; }
  /* line 498, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object .sequence-member:hover .stream-controls, .object .sequence-member:hover .list-controls {
    visibility: visible;
    opacity: 1; }
  /* line 502, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object .sequence-member:hover .stream-menu {
    visibility: visible;
    opacity: 1; }
  /* line 511, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object.publishing h2:before {
    content: "7";
    font-size: 2.4em;
    line-height: 1.4em;
    width: 1.4em; }
  /* line 520, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object .multiple {
    padding: 4.5em 0 0 0; }
    /* line 523, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object .multiple fieldset {
      padding-top: 0;
      padding-bottom: 0; }
  /* line 529, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object .fields {
    max-width: 100%; }
  /* line 534, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object .fields .multiple {
    padding-top: 0; }
  /* line 538, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object .add {
    padding-top: 1em; }
  /* line 542, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object.empty {
    border-bottom: 1px solid white;
    /* wrapper around add button for mutliple objects. Default version is wordless plus button for contracted groups of fields */ }
    /* line 545, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.empty > h2, .object.empty.single-field label {
      margin: 0 0;
      border-bottom: 1px solid white; }
    /* line 551, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.empty .add {
      position: relative;
      z-index: 2;
      top: 0px;
      left: 0px;
      width: 3.3em;
      padding: 0;
      margin: 0 0 0 -20px;
      cursor: pointer; }
      /* line 25, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/mixins.scss */
      body.ready .object.empty .add {
        -webkit-transition: background-color 0.2s ease;
        -moz-transition: background-color 0.2s ease;
        -o-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease; }
      /* line 562, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
      .object.empty .add .button {
        -webkit-border-radius: 0;
        border-radius: 0;
        overflow: visible;
        background-color: #fcf2f2;
        font-size: 0;
        /* helps fake the effect of t.ext-replace class, which can't be used here. */
        width: 2em; }
        /* line 569, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
        .object.empty .add .button:before {
          position: relative;
          padding: 0;
          line-height: 1.8em;
          /* specific height required as parent 'a' has no height */
          font-size: 1.4rem;
          width: 1.8em;
          background-color: #f37e77; }
        /* line 578, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
        .object.empty .add .button:hover:before {
          background-color: #f16860; }
    /* line 584, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.empty .multiple {
      padding: 0; }
  /* line 589, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object.collapsible {
    /* li.collapsed gets its height from the fieldset only, which is now hidden
        and h2 has position:absolute which doesn't add to it either, so it would be 0 without this */
    min-height: 41px; }
    /* line 594, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.collapsible h2 {
      cursor: pointer; }
    /* line 597, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.collapsible h2:before {
      content: '6';
      text-shadow: none;
      line-height: 40px;
      padding-right: 1px;
      opacity: 1;
      color: #666;
      background-color: transparent; }
      /* line 25, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/mixins.scss */
      body.ready .object.collapsible h2:before {
        -webkit-transition: background-color 0.2s ease, color 0.2s ease;
        -moz-transition: background-color 0.2s ease, color 0.2s ease;
        -o-transition: background-color 0.2s ease, color 0.2s ease;
        transition: background-color 0.2s ease, color 0.2s ease; }
    /* line 610, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object.collapsible.collapsed {
      background: #fff; }
      /* line 612, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
      .object.collapsible.collapsed h2 {
        -webkit-box-shadow: none;
        box-shadow: none; }
      /* line 615, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
      .object.collapsible.collapsed h2:before {
        content: '5';
        color: #fff;
        background-color: #43b1b0; }
      /* line 620, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
      .object.collapsible.collapsed h2:hover:before {
        background-color: #358c8b; }

/* Custom styles that make some fields look more important */
/* line 630, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
.full input,
.full textarea,
.full .richtext {
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 1.2em;
  line-height: 1.6em; }
  @media screen and (min-width: 50em) {
    /* line 630, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .full input,
    .full textarea,
    .full .richtext {
      padding-left: 50px;
      padding-right: 50px; } }

/* line 641, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
.title input,
.title textarea,
.title .richtext {
  font-size: 2em;
  font-family: Bitter, Georgia, serif; }

/* Footer control bar for perfoming actions on the page */
/* line 648, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
footer .preview button, footer .preview .button {
  background-color: gray;
  border-color: gray; }
  /* line 652, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  footer .preview button:hover, footer .preview .button:hover {
    background-color: #666666;
    border-color: #666666; }

/* line 658, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
footer .preview .dropdown input[type=button], footer .preview .dropdown input[type=submit], footer .preview .dropdown button, footer .preview .dropdown .button {
  background-color: gray;
  border-color: gray; }
  /* line 662, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  footer .preview .dropdown input[type=button]:hover, footer .preview .dropdown input[type=submit]:hover, footer .preview .dropdown button:hover, footer .preview .dropdown .button:hover {
    background-color: #666666;
    border-color: #666666; }

/* line 667, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
footer .preview .dropdown ul, footer .preview .dropdown .dropdown-toggle {
  background-color: gray; }

/* line 671, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
footer .preview .dropdown .dropdown-toggle:hover,
footer .preview .dropdown.open > .button + .dropdown-toggle {
  background-color: #666666; }

@media screen and (min-width: 50em) {
  /* line 678, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .page-editor .breadcrumb {
    margin-top: -1.8em; }
  /* line 682, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object fieldset {
    max-width: 1024px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
    float: left;
    width: 83.33333%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    padding-left: 0;
    padding-right: 0; }
    /* line 688, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
    .object fieldset fieldset {
      width: 100%; }
  /* line 693, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object .object-help {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
    float: left;
    width: 16.66667%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    display: block;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 1em;
    padding-right: 1.5%;
    float: right;
    margin-top: 4em;
    opacity: 0;
    padding-left: 3em; }
  /* line 708, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object.full fieldset {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
    float: left;
    width: 91.66667%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    margin-left: -51px;
    padding: 3.2em 0 0 0; }
  /* line 713, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object.full input, .object.full textarea, .object.full .richtext {
    border-width: 0 1px; }
  /* line 716, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object.full .field {
    padding: 0; }
  /* line 719, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object.full .field-content {
    display: block;
    float: none;
    width: auto;
    padding: inherit; }
  /* line 726, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object .multiple {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
    float: left;
    width: 83.33333%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    padding-left: 0;
    padding-right: 0; }
  /* line 732, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object.empty .add {
    margin: 0 0 0 -50px; }
  /* line 736, /home/vagrant/venv/local/lib/python2.7/site-packages/wagtail/wagtailadmin/static/wagtailadmin/scss/layouts/page-editor.scss */
  .object.single-field label {
    display: block;
    float: none;
    width: auto;
    padding: auto; } }
