*, ::before, ::after {
	box-sizing: border-box;
  background: url(../images/back-clouds.png);
}

/*:root {
	@include font-smoothing();
	font-size: 62.5%;
	font-family: $body-font;
	color: $c-text;
	line-height: 1.5;
}

input, textarea, keygen, select, button {
	font-family: $body-font;
}

a:focus {
	outline: 1px dotted;
}

@media screen {
	body {
		background-color: $c-grey-background;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		position: relative;
	}

	main {
		flex: 1;
	}
}*/
